{% extends "base.html" %}
{% block content %}
{% block body %}

<div class="row justify-content-center" >
    {% if form.errors %}
    Your username and password didn't match. Please try again
    {% endif %}
</div>

<form method="post" action="{% url 'login' %}"> {% csrf_token %}
<hr class="mt-0 mb-4">
    <table align="center">
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>

{% endblock %}
{% endblock %}